
<% if current_user %>

	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<%= image_tag "logo.png", width: "110px", height: "150px", class: "mailshot-logo" %>
			</div>
			<div class="col-sm-10">
				<h1><%= @mailshot.title %></h1>
				<b>Circular emitida para <%= @mailshot.grade %></b>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-12">
				<%= raw @mailshot.body %>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<br>
				<br>
				<b>Circular creada por <%= User.find(@mailshot.user_id.to_s).names %> <%= User.find(@mailshot.user_id.to_s).last_names %>, en la fecha <%= @mailshot.created_at %></b>
				<br>
				<br>
			</div>
		</div>
	</div>
<%else%>
	<h1>Debes estar registrado para acceder a esta información.</h1>
<% end %>
