<ul class="nav nav-tabs user-tabs">
  <li class="active">
    <a href="#1" data-toggle="tab">Información</a>
  </li>
  <% if user.has_role? :student and (current_user.has_role? :admin or current_user.username == user.username) %>
  	<li>
  		<a href="#2" data-toggle="tab">Deudas <span class="badge"><%= debts_array.nil? ? '0' : debts_array.count %></span></a>
  	</li>
  <% end %>
	<% if user.has_role? :student%>
		<li>
			<a href="#3" data-toggle="tab">Notas <span class="badge"><%= notes.where(student_id: user.id).count %></span></a>
		</li>
	<% end %>
</ul>

<div class="tab-content ">
	<div class="tab-pane active" id="1">
		<% if current_user == user or current_user.has_role? :admin or current_user.has_role? :teacher %>
			<%= render '/user_profile', user: user, students: students, note: note, notes_by_subject: notes_by_subject %>
		<% end %>
		<% if current_user.has_role? :admin %>

			<button type="button" class="btn btn-primary fixedbutton" data-toggle="modal" data-target="#receipt-modal">Agregar Factura</button>

			<!-- Receipt Modal -->
			<div class="modal fade" id="receipt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Agregar factura a <%=user.names%> <%= user.last_names%></h4>
						</div>

						<%= form_for @receipt do |f| %>
							<div class="modal-body">
									<%= hidden_field_tag "user_id", user.id %>
								  	<div class="form-group">
								    	<%= f.text_field :date, class: "form-control input-lg", placeholder: "Selecciona mes y año", id: "datepicker" %>
								  	</div>

								  	<div class="form-group">
								  		<%= f.file_field :receiptFile %>
								  	</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
								<%= f.submit "Agregar Factura", class: "btn btn-primary" %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<div class="tab-pane" id="2">
		<% if debts_array.nil? %>
			<h1>No hay deudas.</h1>
			<div class="panel panel-default"></div>
		<% else %>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Fecha de la deuda</th>
						<% if current_user.has_role? :admin %>
							<th>Eliminar deuda</th>
						<% end %>
					</tr>
				</thead>
			    <tbody>
			    	<% debts_array.each do |debt| %>
				        <tr>
				          <td><%= debt %></td>
				          <% if current_user.has_role? :admin %>
				          	<td>
				          		<%= form_tag( user, :method => "post", authenticity_token: false) do %>
				          			<%= hidden_field_tag 'delete', debt %>
				          			<%= button_tag :submit, class: "delete-cross" do %>
				          			    <i class="glyphicon glyphicon-remove red"></i>
				          			<% end %>
				          		<%end%>
				          	</td>
				          <% end %>
				        </tr>
			    	<% end %>
			    </tbody>
			</table>
		<% end %>
		<% if current_user.has_role? :admin %>
			<button type="button" class="btn btn-danger fixedbutton" data-toggle="modal" data-target="#debt-modal">Agregar Deuda</button>

			<!-- Debt Modal -->
			<div class="modal fade" id="debt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Agregar deuda a <%=user.names%> <%= user.last_names%></h4>
						</div>
						<%= form_for user do |f| %>
							<div class="modal-body">
								<div class="form-group">
									<% if user.debts.nil? %>
										<%= f.text_field :debts, class: "form-control input-lg", placeholder: "Selecciona mes y año", id: "datepicker2"%>
									<% else%>
										<%= f.text_field :add_debt, class: "form-control input-lg", placeholder: "Selecciona mes y año", id: "datepicker3"%>
									<% end %>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
								<%= f.submit "Agregar Deuda", class: "btn btn-primary" %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<div class="tab-pane" id="3">

		<% if notes.where(student_id: user.id).empty? and (current_user.has_role? :student or current_user.has_role? :admin) %>
			<h1>No hay notas.</h1>
		<% end %>

		<% if notes.where(student_id: user.id).where(teacher_id: current_user.id).empty? and current_user.has_role? :teacher %>
			<h1>No hay notas creadas por tí.</h1>
		<% end %>
		<br>
		<%= form_tag(user_path, :method => "get", id: "subject-search", role: "search") do %>
			<%= select_tag :subject_search, grouped_options_for_select("Preescolar" => ["Lenguaje y comunicación.", "Inglés (Preescolar).", "Pensamiento matemático.", "Exploración y conocimiento del mundo.", "Desarrollo físico y salud.", "Desarrollo personal y social.", "Expresión y apreciación artística."], "Primaria" => ["Español (Primaria).", "Inglés (Primaria).", "Matemáticas (Primaria).", "Ciencias naturales.", "Geografía (Primaria).", "Historia.(Primaria)", "Formación cívica y ética.", "Educación física.", "Educación artística."], "Secundaria" => ["Español (Secundaria)", "Inglés (Secundaria)", "Matemáticas (Secundaria)", "Biología", "Física", "Química", "Tecnología", "Geografía (Secundaria)", "Historia (Secundaria)", "Educación física (Secundaria)", "Arte"]) , { class: "selectpicker", title: "Buscar nota por asignatura.", id: "subject-search" , :onchange => "this.form.submit()"}  %>
		<% end %>
		<br>
		<% notes.where(student_id: user.id).reverse.each do |note| %>
			<div class="panel panel-default">
				<% if note.teacher_id == current_user.id or current_user.has_role? :admin or  note.student_id == current_user.id %>
					<!-- Default panel contents -->
					<div class="panel-heading"><b>Asignatura: </b><%= note.subject %></div>
					<div class="panel-body">
						<p><b>Descripción: </b><%= note.description%></p>
					</div>

					<!-- List group -->
					<ul class="list-group">
						<li class="list-group-item"><b>Calificación: </b><%= note.grade %></li>
						<li class="list-group-item"><b>Profesor: </b><%= User.find(note.teacher_id.to_i).names %> <%= User.find(note.teacher_id.to_i).last_names  %></li>
						<li class="list-group-item"><b>Fecha: </b><%= note.created_at  %></li>
					</ul>
				<% end %>
			</div>
		<% end %>

		<% if current_user.has_role? :teacher and user.has_role? :student %>
			<button type="button" class="btn btn-primary fixedbutton" data-toggle="modal" data-target="#note-modal">Agregar Nota</button>


			<!-- Note Modal -->
			<div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Agregar nota a <%=user.names%> <%= user.last_names%></h4>
						</div>
						<%= form_for note do |f| %>
							<div class="modal-body">
								<div class="form-group">
									<%= hidden_field_tag "student_id", user.id %>
									<%= hidden_field_tag "teacher_id", current_user.id %>

									<%= f.text_field :grade, class: "form-control input-lg", placeholder: "Calificación." %>
									<br>

									<%= f.text_area :description, class: "form-control input-lg", placeholder: "Descripción de la nota." %>
									<br>

									<%= f.select :subject, grouped_options_for_select("Preescolar" => ["Lenguaje y comunicación.", "Inglés (Preescolar).", "Pensamiento matemático.", "Exploración y conocimiento del mundo.", "Desarrollo físico y salud.", "Desarrollo personal y social.", "Expresión y apreciación artística."], "Primaria" => ["Español (Primaria).", "Inglés (Primaria).", "Matemáticas (Primaria).", "Ciencias naturales.", "Geografía (Primaria).", "Historia.(Primaria)", "Formación cívica y ética.", "Educación física.", "Educación artística."], "Secundaria" => ["Español (Secundaria)", "Inglés (Secundaria)", "Matemáticas (Secundaria)", "Biología", "Física", "Química", "Tecnología", "Geografía (Secundaria)", "Historia (Secundaria)", "Educación física (Secundaria)", "Arte"]) , {}, { class: "selectpicker", title: "Asignatura a la que pertenece la nota."}  %>

								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
								<%= f.submit "Agregar Nota", class: "btn btn-primary" %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>

		<% if params[:subject_search]%>
			<%= form_tag(user_path, :method => "get", id: "subject-search", role: "search") do %>
				<%= hidden_field_tag "reset_subjects_search", true %>
				<%= submit_tag "Reinicar busqueda" , class: "btn btn-primary fixedbutton" %>
			<% end %>
		<% end %>

	</div>
</div>
<script type="text/javascript">

	window.onunload = unloadPage;
	function unloadPage()
	{
	    alert("unload event detected!");
	}

	//script for automatically going to the notes tab when a subject search is done
	if (window.location.search.indexOf('subject_search') > -1) {
	  $('.user-tabs a[href="#3"]').tab('show');
	}

	$(".selectpicker").attr("data-width", "100%");
	$(".selectpicker").attr("data-live-search", "true");

	// Since confModal is essentially a nested modal it's enforceFocus method
	// must be no-op'd or the following error results
	// "Uncaught RangeError: Maximum call stack size exceeded"
	// But then when the nested modal is hidden we reset modal.enforceFocus
	var enforceModalFocusFn = $.fn.modal.Constructor.prototype.enforceFocus;

	$.fn.modal.Constructor.prototype.enforceFocus = function() {};

	$confModal.on('hidden', function() {
	    $.fn.modal.Constructor.prototype.enforceFocus = enforceModalFocusFn;
	});

	$confModal.modal({ backdrop : false });

</script>
