<!DOCTYPE html>
<html>
<head>
  <title>ScolarManagementSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
</head>
<body>
  <% if current_user%>
    <% if !current_user.has_role? :admin %>
      <h1>Funciono</h1>
    <% else %>
      <%= render "layouts/nav_bar" %>
    <% end %>
  <% else %>
    <h1>Funciono</h1>
  <% end %>
  <%= yield %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
</body>
</html>
